<!DOCTYPE html>
<html lang="en">

<head>
<!--	<title>Mirror Grid</title>-->
<!--	<link href="style.css" rel="stylesheet" type="text/css" />-->
<!--	<meta charset="UTF-8" />-->
<!--	<meta name="viewport" content="width=device-width,initial-scale=1" />-->
<!--	<meta name="description" content="" />-->
<!--	<meta charset="UTF-8">-->

	<link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
	<title>Development</title>



</head>
<script type="text/javascript"
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript">
var intervalID = setInterval(update_values,1000);

<!--Definition of JS variables-->
  function update_values() {
        $.getJSON($SCRIPT_ROOT + '/refresh-tool',

      function(data) {
        $('#local_time').text(data.local);
        $('#hamburg_time').text(data.hamburg);
        $('#new_york_time').text(data.new_york);
        $('#shanghai_time').text(data.shanghai);
        $('#local_date').text(data.date);
        $('#local_week').text(data.week);
        $('#local_weekday').text(data.weekday);
        $('#first_temp_max').text(data.first_temp_max);
        $('#first_temp_min').text(data.first_temp_min);
		$('#first_feels_morning').text(data.first_feels_morning);
        $('#first_feels_evening').text(data.first_feels_evening);

        $('#greeting_display').text(data.greeting);
        console.log(data)
      });
    };



    function stopTextColor() {
      clearInterval(intervalID);
    }

</script>

<body>
<div class="grid-container-main">
	<div class="grid-item-main">


		<!-- Date, Weekday, Hour -->

		<span class="info-LH">1</span>
		<div class="grid-container-dates">
			<div class="grid-item-dates">
				<span class="info-LH">1.1</span>
				<span class="info-LH">
				<h2><span id="local_weekday">?</span>
				<script>
					document.getElementById("weekday").innerHTML;
				</script>
				</h2>
				</span>
			</div>
			<div class="grid-item-dates">
				<span class="info-LH">1.2</span>
				<span class="info-LH">
				<h2><span id="local_date">?</span>
				<script>
					document.getElementById("date").innerHTML;
				</script>
				</h2>
				</span>
			</div>
		</div>
	</div>
	<div class="grid-item-main">
			<span class="info-RH-h1">
<!--				Is it possible to center the h1 to avoid the 11 sec. or min. moving...-->
			<h1><span id="local_time">?</span>
			<script>
				document.getElementById("local").innerHTML;
			</script>
			</h1>
				</span>
<!--		<span class="info-RH">2</span>-->
	</div>


	<!-- Calendar Week, Tasks Title -->

	<div class="grid-item-main">
		<span class="info-LH">3</span>
		<span class="info-LH-top">
				<h3>KW <span id="local_week">?</span>
				<script>
					document.getElementById("week").innerHTML;
				</script>
				</h3>
				</span>
	</div>
	<div class="grid-item-main">
		<span class="info-RH">4</span>
		<div class="grid-container-clocks">
			<div class="grid-item-clocks">
<!--				<span class="info-RH">4.1</span>-->
				<span class="info-RH"><h4>Hamburg</h4></span>
			</div>
			<div class="grid-item-clocks">
				<span class="info-RH">
				<h4><span id="hamburg_time">?</span>
					<script>
					document.getElementById("hamburg").innerHTML;
					</script>
				</h4>
				</span>
			</div>
			<div class="grid-item-clocks">
				<span class="info-RH">4.3</span>
				<span class="info-RH">
					<h4>New York</h4>
				</span>
			</div>
			<div class="grid-item-clocks">
				<span class="info-RH">4.4</span>
				<span class="info-RH">
				<h4><span id="new_york_time">?</span>
					<script>
					document.getElementById("new_york").innerHTML;
					</script>
				</h4>
				</span>
			</div>
			<div class="grid-item-clocks">
				<span class="info-RH">4.5</span>
				<span class="info-RH">
					<h4>Shanghai</h4>
				</span>
			</div>
			<div class="grid-item-clocks">
				<span class="info-RH">4.6</span>
				<span class="info-RH">
				<h4><span id="shanghai_time">?</span>
					<script>
					document.getElementById("shanghai").innerHTML;
					</script>
				</h4>
				</span>
			</div>
		</div>
	</div>


	<!-- Task List -->

	<div class="grid-item-main"><span class="info-LH">5</span></div>


	<!-- Weather -->

	<div class="grid-item-main"><span class="info-RH">6</span>

		<!-- First Weather Info -->

		<div class="grid-container-temp-icon">
			<div class="grid-item-temp-icon"><span class="info-RH">6.1</span>
			</div>
			<div class="grid-item-temp-icon">
				<span class="info-RH">6.2 </span>
				<div class="grid-container-temp-loc">
					<div class="grid-item-temp-loc">
						<span class="info-LH">Morning feels like</span>
						<span class="info-RH">
							<h4>Querétaro</h4>
						</span>
					</div>
					<div class="grid-item-temp-loc"><span class="info-RH">6.2.2</span>
						<div class="grid-container-temp-details">
							<div class="grid-item-temp-details"><span class="info-RH">6.2.2.1</span>
								<div class="grid-container-temp-minmax">
									<div class="grid-item-temp-minmax">
										<span class="info-RH">6.2.1.A</span>
										<span class="info-RH">
											<h4><span id="first_temp_max">?</span>
											<script>
												document.getElementById("first_temp_max").innerHTML;
											</script> °C</h4>
										</span>
									</div>
									<div class="grid-item-temp-minmax">
										<span class="info-LH">Evening feels like</span>
									</div>
									<div class="grid-item-temp-minmax">
										<span class="info-RH">6.2.1.C</span>
										<span class="info-RH">
											<h4><span id="first_temp_min">?</span>
											<script>
												document.getElementById("first_temp_min").innerHTML;
											</script> °C</h4>
										</span>
									</div>
								</div>
							</div>
							<div class="grid-item-temp-details"><span class="info-RH">6.2.</span>
								<div class="grid-container-temp-feeling">
									<div class="grid-item-temp-feeling"><span class="info-RH">6.2.1.A</span>
									</div>
									<div class="grid-item-temp-feeling"><span class="info-RH">6.2.1.B</span>
									</div>
									<div class="grid-item-temp-feeling"><span class="info-RH">6.2.1.C</span>
									</div>
								</div>
							</div>
							<div class="grid-item-temp-details"><span class="info-RH">6.2.2.3</span>
								<div class="grid-container-temp-physics">
									<div class="grid-item-temp-physics"><span class="info-RH">6.2.A</span>
									</div>
									<div class="grid-item-temp-physics"><span class="info-RH">6.2.B</span>
									</div>
									<div class="grid-item-temp-physics"><span class="info-RH">6.2.C</span>
									</div>
									<div class="grid-item-temp-physics"><span class="info-RH">6.2.D</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-container-temp-desc">
			<div class="grid-item-temp-desc"><span class="info-RH">6.3</span>
			</div>
			<div class="grid-item-temp-icon"><span class="info-RH">6.4 </span></div>
			<div class="grid-item-temp-desc"><span class="info-RH">6.5</span>
			</div>
			<div class="grid-item-temp-icon"><span class="info-RH">6.6 </span></div>
		</div>

		<!-- 2nd Weather Info -->

		<div class="grid-container-temp-icon">
			<div class="grid-item-temp-icon"><span class="info-RH">6.1</span>
			</div>
			<div class="grid-item-temp-icon">
				<span class="info-RH">6.2 </span>
				<div class="grid-container-temp-loc">
					<div class="grid-item-temp-loc">
						<span class="info-LH">Morning feels like</span>
						<span class="info-RH">
							<h4>Puebla</h4>
						</span>
					</div>
					<div class="grid-item-temp-loc"><span class="info-RH">6.2.2</span>
						<div class="grid-container-temp-details">
							<div class="grid-item-temp-details"><span class="info-RH">6.2.2.1</span>
								<div class="grid-container-temp-feeling">
									<div class="grid-item-temp-feeling">
										<span class="info-RH">6.2.1.A</span>
									</div>
									<div class="grid-item-temp-feeling">
										<span class="info-LH">Evening feels like</span>
									</div>
									<div class="grid-item-temp-feeling"><span class="info-RH">6.2.1.C</span>
									</div>
								</div>
							</div>
							<div class="grid-item-temp-details"><span class="info-RH">6.2.</span>
								<div class="grid-container-temp-minmax">
									<div class="grid-item-temp-minmax"><span class="info-RH">Temp. max.</span>
									</div>
									<div class="grid-item-temp-minmax"><span class="info-RH">6.2.1.B</span>
									</div>
									<div class="grid-item-temp-minmax"><span class="info-RH">Temp. min.</span>
									</div>
								</div>
							</div>
							<div class="grid-item-temp-details"><span class="info-RH">6.2.2.3</span>
								<div class="grid-container-temp-physics">
									<div class="grid-item-temp-physics"><span class="info-RH">6.2.A</span>
									</div>
									<div class="grid-item-temp-physics"><span class="info-RH">6.2.B</span>
									</div>
									<div class="grid-item-temp-physics"><span class="info-RH">6.2.C</span>
									</div>
									<div class="grid-item-temp-physics"><span class="info-RH">6.2.D</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-container-temp-desc">
			<div class="grid-item-temp-desc"><span class="info-RH">6.3</span>
			</div>
			<div class="grid-item-temp-icon"><span class="info-RH">6.4 </span></div>
			<div class="grid-item-temp-desc"><span class="info-RH">6.5</span>
			</div>
			<div class="grid-item-temp-icon"><span class="info-RH">6.6 </span></div>
		</div>

		<!-- COPY 2nd Weather Info -->

		<div class="grid-container-temp-icon">
			<div class="grid-item-temp-icon"><span class="info-RH">6.1</span>
			</div>
			<div class="grid-item-temp-icon">
				<span class="info-RH">6.2 </span>
				<div class="grid-container-temp-loc">
					<div class="grid-item-temp-loc">
						<span class="info-RH">6.2.1</span>
						<span class="info-RH">
							<h4>Puebla</h4>
						</span>
					</div>
					<div class="grid-item-temp-loc"><span class="info-RH">6.2.2</span>
						<div class="grid-container-temp-details">
							<div class="grid-item-temp-details"><span class="info-RH">6.2.2.1</span>
								<div class="grid-container-temp-minmax">
									<div class="grid-item-temp-minmax"><span class="info-RH">6.2.1.A</span>
									</div>
									<div class="grid-item-temp-minmax"><span class="info-RH">6.2.1.B</span>
									</div>
									<div class="grid-item-temp-minmax"><span class="info-RH">6.2.1.C</span>
									</div>
								</div>
							</div>
							<div class="grid-item-temp-details"><span class="info-RH">6.2.</span>
								<div class="grid-container-temp-feeling">
									<div class="grid-item-temp-feeling"><span class="info-RH">6.2.1.A</span>
									</div>
									<div class="grid-item-temp-feeling"><span class="info-RH">6.2.1.B</span>
									</div>
									<div class="grid-item-temp-feeling"><span class="info-RH">6.2.1.C</span>
									</div>
								</div>
							</div>
							<div class="grid-item-temp-details"><span class="info-RH">6.2.2.3</span>
								<div class="grid-container-temp-physics">
									<div class="grid-item-temp-physics"><span class="info-RH">6.2.A</span>
									</div>
									<div class="grid-item-temp-physics"><span class="info-RH">6.2.B</span>
									</div>
									<div class="grid-item-temp-physics"><span class="info-RH">6.2.C</span>
									</div>
									<div class="grid-item-temp-physics"><span class="info-RH">6.2.D</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-container-temp-desc">
			<div class="grid-item-temp-desc"><span class="info-RH">6.3</span>
			</div>
			<div class="grid-item-temp-icon"><span class="info-RH">6.4 </span></div>
			<div class="grid-item-temp-desc"><span class="info-RH">6.5</span>
			</div>
			<div class="grid-item-temp-icon"><span class="info-RH">6.6 </span></div>
		</div>

		<!-- 3rd Weather Info -->
		<div class="grid-container-temp-icon">
			<div class="grid-item-temp-icon"><span class="info-RH">6.1</span>
			</div>
			<div class="grid-item-temp-icon">
				<span class="info-RH">6.2 </span>
				<div class="grid-container-temp-loc">
					<div class="grid-item-temp-loc">
						<span class="info-RH">6.2.1</span>
						<span class="info-RH">
							<h4>Kaltenbrunn</h4>
						</span>
					</div>
					<div class="grid-item-temp-loc"><span class="info-RH">6.2.2</span>
						<div class="grid-container-temp-details">
							<div class="grid-item-temp-details"><span class="info-RH">6.2.2.1</span>
								<div class="grid-container-temp-minmax">
									<div class="grid-item-temp-minmax"><span class="info-RH">6.2.1.A</span>
									</div>
									<div class="grid-item-temp-minmax"><span class="info-RH">6.2.1.B</span>
									</div>
									<div class="grid-item-temp-minmax"><span class="info-RH">6.2.1.C</span>
									</div>
								</div>
							</div>
							<div class="grid-item-temp-details"><span class="info-RH">6.2.</span>
								<div class="grid-container-temp-feeling">
									<div class="grid-item-temp-feeling"><span class="info-RH">6.2.1.A</span>
									</div>
									<div class="grid-item-temp-feeling"><span class="info-RH">6.2.1.B</span>
									</div>
									<div class="grid-item-temp-feeling"><span class="info-RH">6.2.1.C</span>
									</div>
								</div>
							</div>
							<div class="grid-item-temp-details"><span class="info-RH">6.2.2.3</span>
								<div class="grid-container-temp-physics">
									<div class="grid-item-temp-physics"><span class="info-RH">6.2.A</span>
									</div>
									<div class="grid-item-temp-physics"><span class="info-RH">6.2.B</span>
									</div>
									<div class="grid-item-temp-physics"><span class="info-RH">6.2.C</span>
									</div>
									<div class="grid-item-temp-physics"><span class="info-RH">6.2.D</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-container-temp-desc">
			<div class="grid-item-temp-desc"><span class="info-RH">6.3</span>
			</div>
			<div class="grid-item-temp-icon"><span class="info-RH">6.4 </span></div>
			<div class="grid-item-temp-desc"><span class="info-RH">6.5</span>
			</div>
			<div class="grid-item-temp-icon"><span class="info-RH">6.6 </span></div>
		</div>

	</div>

</div>
</body>

</html>